<div class="main">
    <h1>Welcome To <span class="head"><b>CartPro</b></span></h1>
    
    <p class="h2">Explore Your Fashion</p>

<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="1000">
        <img src="https://img.freepik.com/free-photo/black-friday-elements-assortment_23-2149074075.jpg?w=1060&t=st=1707463315~exp=1707463915~hmac=e9d274f31bab92fde251619bd0f16936f74d0b8857d132341a1064e10e128f98" class="img" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="1000">
        <img src="https://fps.cdnpk.net/landing-mockups-editor/galleries/apparel/hoddies/men-hoodies-mockup-front-and-back-view-poster@x2.webp" class="img" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="1000">
        <img src="https://img.freepik.com/free-photo/beautiful-smiling-young-blonde-woman-pointing-sunglasses-holding-shopping-bags-credit-card-pink-wall_496169-1506.jpg?w=1060&t=st=1707463945~exp=1707464545~hmac=0f0bbc75d628fe14c1a6f9e061e97752115b3dd69d787430bdff31b4be0bfb23" class="img" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</div>
